body {
	/* background-color: hsl(0, 36%, 32%); */
	background-image: url("images/background-1.jpg");
	background-attachment: fixed;
	background-size: cover;
}

code {
	font-family: "Karla", source-code-pro, Menlo, Monaco, Consolas,
		"Courier New", monospace;
}
